<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <!-- Do not add any additional feeds. If new packages are needed they need to come from nuget.org or AuroraScienceHub feed -->
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="AuroraScienceHub" value="https://nuget.pkg.github.com/Aurora-Science-Hub/index.json" />
    </packageSources>
    <packageSourceMapping>
        <packageSource key="nuget.org">
            <package pattern="*"/>
        </packageSource>
        <packageSource key="AuroraScienceHub">
            <package pattern="AuroraScienceHub.*"/>
        </packageSource>
    </packageSourceMapping>
    <disabledPackageSources>
        <clear />
    </disabledPackageSources>
</configuration>
